# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Unity/Assets/Models/World Models/Bush2.obj.meta
Unity/Assets/Models/World Models/Bush3.obj.meta
Unity/Assets/Models/World Models/Bush4.obj.meta
Unity/Assets/Models/World Models/Bush5.obj.meta
Unity/Assets/Models/World Models/Bush6.obj.meta
Unity/Assets/Models/World Models/Bush7.obj.meta
Unity/Assets/Models/World Models/Clouds.obj.meta
Unity/Assets/Models/World Models/Pinetree1.obj.meta
Unity/Assets/Models/World Models/Pinetree2.obj.meta
Unity/Assets/Models/World Models/Pinetree3.obj.meta
Unity/Assets/Models/World Models/Pinetree4.obj.meta
Unity/Assets/Models/World Models/Rock1.obj.meta
Unity/Assets/Models/World Models/Rock2.obj.meta
Unity/Assets/Models/World Models/Rocks4.obj.meta
Unity/Assets/Models/World Models/Rocks5.obj.meta
Unity/Assets/Models/World Models/Rocks6.obj.meta
Unity/Assets/Models/World Models/Rocks7.obj.meta
Unity/Assets/Models/World Models/Rocks8.obj.meta
Unity/Assets/Models/World Models/Shack.obj.meta
Unity/Assets/Models/World Models/Sphere.obj.meta
Unity/Assets/Models/World Models/Table.obj.meta
Unity/Assets/Models/World Models/Tree.obj.meta
Unity/Assets/Models/World Models/Tree10.obj.meta
Unity/Assets/Models/World Models/Tree11.obj.meta
Unity/Assets/Models/World Models/Bush.obj.meta
Unity/Assets/Models/World Models/Tree12.obj.meta
Unity/Assets/Models/World Models/Tree13.obj.meta
Unity/Assets/Models/World Models/Tree14.obj.meta
Unity/Assets/Models/World Models/Tree15.obj.meta
Unity/Assets/Models/World Models/Tree2.obj.meta
Unity/Assets/Models/World Models/Tree3.obj.meta
Unity/Assets/Models/World Models/Tree4.obj.meta
Unity/Assets/Models/World Models/Tree5.obj.meta
Unity/Assets/Models/World Models/Tree6.obj.meta
Unity/Assets/Models/World Models/Tree7.obj.meta
Unity/Assets/Models/World Models/Tree8.obj.meta
Unity/Assets/Models/World Models/Tree9.obj.meta
Unity/Assets/Models/World Models/TreeStump.obj.meta
Unity/Assets/Models/World Models/Vegetation1.obj.meta
Unity/Assets/Models/World Models/Vegetation2.obj.meta
Unity/Assets/Models/World Models/Vegetation3.obj.meta
Unity/Assets/Models/World Models/Vegetation4.obj.meta
Unity/Assets/Models/World Models/Vegetation5.obj.meta
Unity/Assets/Models/World Models/rocks3.obj.meta
